body.pitchclimat
    header#document-header,
    .page-with-blocks,
    .hero,
    .document-content,
    .block-call_to_action,
    footer#document-footer
        background: $color-orange

body.pitchclimat
    .block-call_to_action
        .block-content
            padding: 20px 48px

body.pitchclimat
    background: $color-orange

body.pitchclimat
    .hero
        .block-pages--grid
            margin-bottom: 0px

body.pitchclimat
    .hero
        .block-timeline--horizontal
            background: $color-orange !important

body.pitchclimat
        .name
            font-weight: bold !important

body.pitchclimat
    .is-long
        p
            font-style: normal
            color: $color-text

body.pitchclimat
    .splide__pagination
        button
            color: $color-text
body.pitchnumerique
    header#document-header,
    .hero,
    footer#document-footer
        background: $color-green

.page__home
    .blocks
        .block-pages--grid
            .grid
                grid-template-columns: repeat(2, 1fr)

body.page__home
    header#document-header,
    .hero,
    .document-content,
    .call_to_action,
    .block-pages--grid,
    footer#document-footer,
    .block-call_to_action
        background: $color-blue !important

.page__home
    background: $color-blue

.heading
    h2
        font-weight: bold

body.association
    header#document-header,
    .page-with-blocks,
    .hero,
    .document-content,
    .toc-cta,
    footer#document-footer
        background: $color-blue

body.contact
    header#document-header,
    .page-with-blocks,
    .hero,
    .document-content,
    footer#document-footer
        background: $color-blue

.contact
    background: $color-blue

.confidentialite
     header#document-header,
    .page-with-blocks,
    .hero,
    .document-content,
    footer#document-footer
        background: $color-blue





