body.pitchclimat
    header#document-header,
    .page-with-blocks,
    .hero,
    .document-content,
    .block-call_to_action,
    footer#document-footer
        background: $color-blue
body.pitchnumerique
    header#document-header,
    .hero,
    footer#document-footer
        background: $color-orange
.page__home
    .blocks
        .block-pages--grid
            .grid
                grid-template-columns: repeat(2, 1fr)

body.pitchclimat
    .block-call_to_action
        padding-top: 20px
        padding-bottom: 20px